.primary {
  color: #2d2b6f;
}

.small-text {
  color: #808080;
}

.extra-small-text {
  color: #a8a8a8;
}

.ui-text-white {
  color: #ffffff;
}

.ui-text-black {
  color: #000000;
}

.brand-primary {
  color: #c82dc9;
}

.dark-purple {
  color: #450044;
}
