.candidate-landindg-page-checkbox input[type='checkbox'] {
  position: absolute;
  right: 33.8%;
  bottom: 24.5%;
  appearance: none;
  height: 16px;
  width: 16px;
  border: 2px solid #a900a6;
  border-radius: 2px;
}

/*Check box positioning with media queries*/
@media (max-width: 1400px) {
  .candidate-landindg-page-checkbox input[type='checkbox'] {
    bottom: 21.5%;
    right: 38.5%;
  }
}

@media (max-width: 1200px) {
  .candidate-landindg-page-checkbox input[type='checkbox'] {
    bottom: 21.7%;
    right: 45.8%;
  }
}

@media (max-width: 991px) {
  .candidate-landindg-page-checkbox input[type='checkbox'] {
    bottom: 17.5%;
    right: 61.2%;
  }
}

@media (max-width: 767px) {
  .candidate-landindg-page-checkbox input[type='checkbox'] {
    bottom: 15.5%;
    right: 82.2%;
  }
}

@media (max-width: 576px) {
  .candidate-landindg-page-checkbox input[type='checkbox'] {
    bottom: 15.8%;
    right: 79%;
  }
}

@media (max-width: 425px) {
  .candidate-landindg-page-checkbox input[type='checkbox'] {
    bottom: 21.3%;
    right: 92%;
  }
}

@media (max-width: 375px) {
  .candidate-landindg-page-checkbox input[type='checkbox'] {
    bottom: 20%;
    right: 89%;
  }
}

@media (max-width: 320px) {
  .candidate-landindg-page-checkbox input[type='checkbox'] {
    bottom: 18.6%;
    right: 94%;
  }
}

ol li {
  word-spacing: 1px;
  font-weight: 500;
  color: #2d2b6f;
  margin-bottom: 12px;
}

.candidate-landindg-page-checkbox input[type='checkbox']:checked {
  background: #a900a6;
}

.candidate-landindg-page-checkbox input[type='checkbox']:hover {
  cursor: pointer;
}

.candidate-landindg-page-checkbox input[type='checkbox']::after {
  content: '\2713';
  margin-top: -7px;
  color: white;
  display: none;
}

.candidate-landindg-page-checkbox input[type='checkbox']:checked::after {
  display: block;
}

.candidate-landindg-page-checkbox input[type='checkbox'] {
  cursor: pointer;
}

.landing-next-btn {
  font-family: Roboto, serif;
  font-weight: bold;
  font-size: 16px;
  color: #f4f5f7;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 5px 10px;
  width: 150px;
  border: none;
}
