.main {
  height: 120px;
  width: 350px;
  text-align: center;
}

.assessment {
  padding: 10px;
}

.rightPad {
  padding-right: 10px;
}

.mainHelp {
  width: 330px;
  border: 1px solid;
  border-radius: 5px;
}

.helpPad {
  padding: 12px;
}

.text {
  line-height: 1.7em;
}
