.open-off-hrs-check-input {
  background-color: #f8f9fa;
}

.open-off-hrs-check-input:focus {
  border-color: rgba(0, 0, 0, 0.25);
  box-shadow: none;
}

.open-off-hrs-check-input:checked {
  background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23000000%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27M6 10l3 3l6-6%27/%3e%3c/svg%3e') !important;
  background-color: #f8f9fa;
  border-color: rgba(0, 0, 0, 0.25);
}
