.search_filter_width {
  /* max-width: fit-content; */
}

.search_filter_start_rating {
  margin-left: -10px;
}
.search_filter_search_box {
  color: #8f8f8f;
  background-color: #ececec;
  border-radius: 7px;
  border: none;
  padding: 4px 9px;
  font-size: 0.875em;
  margin-bottom: 35px;
  margin-top: 25px;
  max-width: fit-content;
}

.search_filter_rating {
  font-weight: 700;
  font-size: 14px;
}

.search_filter_subtitile {
  margin-top: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.search_filter_padding-2 {
  padding-left: 20px !important;
}

.search_filter_padding {
  /* width: 60px; */
  padding: 5px 5px !important;
}


