.policy-wrapper {
  margin: 0px 20px;
  padding: 20px 20px 0px 20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background: white;
  text-align: left;
}

.main-policy-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 115px);
  border-radius: 0;
  padding: 15px;
}

.main-policy-container::-webkit-scrollbar {
  width: 10px;
}
.main-policy-container::-webkit-scrollbar-thumb {
  background: #afafaf;
  border-radius: 20px;
}
.main-policy-container::-moz-scrollbarthumb {
  background: #afafaf;
  border-radius: 20px;
}

.policy-typography {
  font-family: Roboto, serif;
  font-size: 14px !important;
  color: #808080;
  font-weight: bold !important;
  line-height: 1;
}

.left-align-side-bar {
  font-family: roboto, serif;
  text-align: left;
}
