.featured-card-container {
  border-radius: 10px;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.25);
  background: #fafafa;
}

.featured-card-blue {
  color: #2d2b6f;
}

.featured-card-gray {
  color: #808080;
}
.featured-card-pink {
  color: #450044;
}

.featured-card-picture {
  height: 75px !important;
}

.featured-card-button-div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}

.featured-card-button {
  color: #605f92;
  background-color: transparent;
  border: none;
  padding: 0;
}
